In [1]:
#import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# laod data 
df = pd.read_csv('listings.csv')

In [3]:
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [4]:
# make of list of unwanted columns contains in the data
dropList=['listing_url','thumbnail_url','medium_url','picture_url','xl_picture_url', 'host_url', 'host_thumbnail_url','host_picture_url']

In [5]:
#drop unwanted columns from DataFram
df_drop=df.drop(dropList,axis=1)

In [6]:
#Get unique value count of 'neighbourhood_group_cleansed'
df_drop['neighbourhood_group_cleansed'].value_counts()

Other neighborhoods    794
Capitol Hill           567
Downtown               530
Central Area           369
Queen Anne             295
Ballard                230
West Seattle           203
Rainier Valley         159
University District    122
Beacon Hill            118
Cascade                 89
Northgate               80
Delridge                79
Lake City               67
Magnolia                61
Seward Park             44
Interbay                11
Name: neighbourhood_group_cleansed, dtype: int64

In [7]:
#clean 'price' columns which contains string 
df_drop['price'] = df_drop['price'].str.replace("[$, ]", "").astype("float")

In [8]:
#make Data Frame with groupby'neighbourhood_group_cleansed' with mean price
df_neighbourhood = pd.DataFrame(df_drop.groupby('neighbourhood_group_cleansed')['price'].mean())

In [9]:
#reset the index of created Data Frame
df_neighbourhood=df_neighbourhood.reset_index()

In [10]:
df_neighbourhood

   neighbourhood_group_cleansed       price
0                       Ballard  124.682609
1                   Beacon Hill   94.669492
2                  Capitol Hill  130.592593
3                       Cascade  140.101124
4                  Central Area  128.338753
5                      Delridge   83.278481
6                      Downtown  154.405660
7                      Interbay  109.727273
8                     Lake City   92.671642
9                      Magnolia  177.672131
10                    Northgate   88.550000
11          Other neighborhoods  119.968514
12                   Queen Anne  157.223729
13               Rainier Valley   91.899371
14                  Seward Park  108.477273
15          University District   93.639344
16                 West Seattle  141.359606

In [12]:
import dataframe_image as dfi
>>> dfi.export(df_neighbourhood, 'df_styled.png')

In [ ]:
#rename the columns of creted Data Frame for easy understanding
df_neighbourhood=df_neighbourhood.rename(columns={"neighbourhood_group_cleansed":"Neighbourhood_Group","price":"Avg_Price"})

In [ ]:
#plot the created Data Frame in bar chart with matplotlib
plt.rcParams['figure.figsize']=(12,8)
ax = df_neighbourhood.plot.bar(legend=False,x='Neighbourhood_Group',y='Avg_Price',color= ['green','yellow','red','blue','purple','pink','orange','cyan','brown','magenta','black','teal','gray','maroon','violet','lime','navy'])

In [ ]:
pd.set_option('display.max_columns', 500)

df_drop.head()

In [ ]:
#plot distribution plot of price
snx=sns.distplot(df_drop['price'], kde=False, bins = 50)

In [ ]:
df_drop['price'].describe()

In [ ]:
#snx.figure.savefig('distribution.png')

In [ ]:
#create new Data Frame which only inclues numberical values
df_num = df_drop.select_dtypes(exclude=['object'])

In [ ]:
#percentage of null values according to the columns
((np.sum(df_num.isnull()) / df_num.shape[0]) * 100).sort_values(ascending=False)

In [ ]:
#drop some of columns to make calculation easy

drop_list =['license','square_feet','host_id','id','availability_30','availability_60','availability_90','availability_365','scrape_id']
df_num = df_num.drop(drop_list, axis=1)

# Plot the Correlation Matrix

In [ ]:

# Compute the correlation matrix
corr = df_num.corr()

# Generate a mask for the upper triangle
mask = np.triu(np.ones_like(corr, dtype=bool))

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(20, 15))

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap='viridis',annot=True);

In [ ]:
#ax.figure.savefig('corr_mat.png')

In [ ]:
#plot box plot for further analysis
boxplot=sns.boxplot(x='accommodates',y='price', data=df_num)

In [ ]:
#boxplot.figure.savefig('boxplot.png')

In [ ]:
#statics of accommodates with price
df_num.groupby('accommodates')['price'].describe()

# Scatter Plot

In [ ]:
#plot scatter plot to visualize with geo cordinates
df_drop.plot(kind="scatter", x="longitude", y="latitude")

In [ ]:
#further development of scatter plot
df_drop.plot(kind="scatter", x="longitude", y="latitude",
    s='price', label="price", c='accommodates',
     cmap=plt.get_cmap("jet"),
    colorbar=True, alpha=0.4, figsize=(15,12),
)
plt.legend()
#save_fig("housing_prices_scatterplot")
plt.show()

# Scatter plot on the MAP

In [ ]:
import numpy as np
import matplotlib.image as mpimg
seattle_img=mpimg.imread('seattle.png')
ax = df_drop.plot(kind="scatter", x="longitude", y="latitude", figsize=(20,15),
                       s=df_drop['accommodates']*50, label="accommodates",
                       c="price", cmap=plt.get_cmap("jet"),
                       colorbar=False, alpha=0.3,
                      )
plt.imshow(seattle_img, extent=[-122.41, -122.24, 47.50, 47.73], alpha=0.8)
plt.ylabel("Latitude", fontsize=14)
plt.xlabel("Longitude", fontsize=14)

prices = df_drop["price"]
tick_values = np.linspace(prices.min(), prices.max(), 11)
cbar = plt.colorbar()
cbar.ax.set_yticklabels(["$%dk"%(round(v)) for v in tick_values], fontsize=14)
cbar.set_label('Price', fontsize=14)

plt.legend(fontsize=16)
plt.show()

In [ ]:
#ax.figure.savefig('mapplot.png')

# No of listing as per the property_type

In [ ]:
df_prop = pd.DataFrame(df_drop['property_type'].value_counts())
df_prop

In [ ]:
df_prop.reset_index(inplace=True)

In [ ]:
df_prop=df_prop.rename(columns={'index':'prop_type','property_type':'count'})

In [ ]:
df_prop

In [ ]:
fig, ax = plt.subplots(figsize = (12,6))
plt.rcParams['font.sans-serif'] = 'Arial'
plt.rcParams['font.family'] = 'sans-serif'
plt.rcParams['text.color'] = '#909090'
plt.rcParams['axes.labelcolor']= '#909090'
plt.rcParams['xtick.color'] = '#909090'
plt.rcParams['ytick.color'] = '#909090'
plt.rcParams['font.size']=12
color_palette_list = ['#009ACD', '#ADD8E6', '#63D1F4', '#0EBFE9',   
                      '#C1F0F6', '#0099CC']
ind = np.arange(len(df_prop['prop_type']))
bars1 = ax.bar(ind, df_prop['count'], 
        color = color_palette_list, 
        label='Percentage of yes responses to question')
ax.set_title("Property Type Wise No of Listing")
ax.set_ylabel("Count")
ax.set_ylim((0,1800))
ax.set_xticks(range(0,len(ind)))
ax.set_xticklabels(list(df_prop['prop_type']), rotation=70)
ax.set_xlabel("Property Type")

In [ ]:
#ax.figure.savefig('prp_typ.png')